p.welcome Hello world!
article.features
  ul
    li backend: node-organic w/ express routes and jade templates
    li asset pipeline: angel app build w/ browserify
    li frontend: backbone w/ jade templates and jquery