<% include ./_layout/header.ejs %>
  <p> Hello World! </p>
  <article>
    <ul>
      <li>backend: node-organic w/ express routes and ejs templates</li>
    </ul>
  </article>
<% include ./_layout/footer.ejs %>
