extend ./layouts/default

block head
  title Stem skeleton
  link(rel='stylesheet', href= timestampUrl('/public/css/app/index.bundle.css'))
  script(src= timestampUrl("/public/js/app/index.bundle.js"))

block body
  p.welcome Hello world!
  article.features
    ul
      li backend: node-organic w/ express routes and jade templates
      li asset pipeline: angel app build w/ browserify