p.welcome Hello world!
article.features
  ul
    li backend: node-organic w/ organic-express-routes
    li asset pipeline: angel app build w/ webpack
    li frontend: backbone w/ jade templates and jquery
