extend ./_layouts/default

block head
  title {{{name}}}
  script(src= timestampUrl('/public/release/index.bundle.js'))
  link(rel="stylesheet" type="text/css" href= timestampUrl('/public/release/index.bundle.css'))

block body
  p.welcome Hello world!
  article.features
    ul
      li backend: node-organic w/ express routes and jade templates
